# Node
node_modules/
dist/
build/

# Environment files
.env
*.env
server/.env
shop-managment-system/.env

# OS/editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# DB and backups
*.sql
*.db
prisma/dev.db
